/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

:root {
  /** primary color - Foodex Green (#C0EBA6) */
  --ion-color-primary: #C0EBA6;
  --ion-color-primary-rgb: 192, 235, 166;
  --ion-color-primary-contrast: #000000; /* Black text on green background */
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #a9cf92;
  --ion-color-primary-tint: #c6edaf;


  /** danger */
  --ion-color-danger: #ff5722;
  --ion-color-danger-rgb: 255, 87, 34;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04c1e;
  --ion-color-danger-tint: #ff6838;
}